    <div data-intro="@Text"
         data-hint="@Hint"
         data-hintPosition="@HintPosition.ConvertToString()"
         data-step="@Step"
         data-title="@Title"
         data-position="@(Position.ToString().ToLower())"
         class="@Class"
         id="@Id">
        @ChildContent
    </div>